p {font-size:12px;font-family:Tahoma, Geneva, sans-serif;} 
.tg  {border-collapse:collapse;border-spacing:0;border-color:#999;}
.tg td{font-size:12px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#444;background-color:#F7FDFA;}
.tg th{font-size:12px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#fff;background-color:#967ADC;}
.tg .tg-upzu{font-size:12px;vertical-align:top}
.tg .tg-ng14{font-size:12px;text-align:center;vertical-align:top}
.tg .tg-ng15{font-size:12px;text-align:left;vertical-align:top}
.tg .tg-ng16{font-size:12px;text-align:right;vertical-align:top}

.tl  {border:0px;border-spacing:0;border-color:#999;}
.tl .tl-ng14{font-size:12px;text-align:center;vertical-align:top}
